@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@0,400;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 48, 54);
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#grid-text {
    color: rgb(235, 213, 19);
    margin-top: 0;
    padding: 20px;
    font-size: 2.8em;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    /* font-family: 'Lobster', cursive; */
}

#grid-margin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 65, 65);
    border-radius: 20px;
    padding: 0 30px 0px 30px;
}

#grid-container {
    width: 30rem;
    height: 30rem;
    background-color: rgb(212, 212, 212);
    display: grid;
    gap: 1px;
    
}

.grid {
    width: 30rem;
    height: 30rem;
    background-color: rgb(212, 212, 212);
    display: grid;
    gap: 1px;
    
}

.cell {
    background-color: rgb(202, 193, 193);
}

.cell:hover {
    background-color: black;
}

.grid16 {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid32 {
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

.grid64 {
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
}


#buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#resolution_buttons_container {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    width: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 10px 0 10px;
}

#big_buttons_container {
    display: flex;
    flex-direction: row;
    width: 38rem;
    justify-content: space-between;
    align-items: center;
}

#big_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 55px;
    height: 30px;
    cursor: pointer;
}

#button:hover, 
#color_button:hover, 
#big_button:hover {
    transform: scale(1.05);
}

#button:active, 
#color_button:active,
#big_button:active {
    transform: scale(1.1);
}

#change_color_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#color_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.normal {

}

.psycho:hover {
    background-color: blueviolet;
}